
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class = "container">
          <%= link_to "ADNAT", root_path, class: "navbar-brand"%>
            <ul class="navbar-nav d-flex flex-row">
                <li class="p-1">
                    <a class="nav-link " href="#"><strong class="text-white">Username</strong></a>
                </li>
                <li class="p-1">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
