<div id="<%= dom_id organization %>">
  <p>
    <h2><%= organization.name %></h2>
  </p>

  <p>
    <strong>Hourly rate:</strong>
    <%= number_to_currency(organization.hourly_rate) %>
  </p>

</div>
