
<h1>Organizations</h1>

<div id="organizations">
  <% @organizations.each do |organization| %>
   <%= render organization %> 

  <% end %>
  </div>
</div>

<button> <%= link_to "New organization", new_organization_path %> </button>
